/* DEFINICIÓN POR DEFECTO DEL COLOR */
:root {
    --theme-color: #6366f1; /* Indigo por defecto */
}


body {
    font-family: 'Outfit', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swiper-pagination-bullet-active {
    background-color: #6366f1 !important;
    width: 20px !important;
    border-radius: 5px;
}

/* Skeleton Animation Shimmer */
.skeleton {
    background: #e2e8f0;
    background: linear-gradient(90deg, #e2e8f0 25%, #f1f5f9 50%, #e2e8f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

.dark .skeleton {
    background: #1e293b;
    background: linear-gradient(90deg, #1e293b 25%, #334155 50%, #1e293b 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}